.homeSection {
  width: 90%;
  margin: 20px auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.loader {
  background-color: rgb(36, 23, 23);
  width: 10%;
  height: 10%;
  padding: 19.2% 45%;
}
